<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="ua.nure.grankina.periodicals.web.strategy.SubscribeAction" level="info"/>
        <Logger name="ua.nure.grankina.periodicals.model.db.DBManager" level="info"/>
        <Logger name="ua.nure.grankina.periodicals.web.strategy.RegisterAction" level="info"/>
        <Logger name="captcha" level="info"/>
        <Logger name="ua.nure.grankina.periodicals.web.strategy.FBLogin" level="debug"/>
    </Loggers>
</Configuration>